html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: white;
  margin: 0; /* this is necessary to override the possible default margin made */
  padding: 20px 0;    
  /*text-shadow: 3px 3px 1px white;*/
}

a:link {
	color: #1a75ff;
}

a:link:hover {
	color: #66a3ff;
}

a:visited {
  color: #e600ac;
}

a:visited:hover {
  color: #ff66d9;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
  color: white;
}

li {
  text-align: left;
  margin-left: 220px;
}

img {
  display: block; /* this gives the image block-like behavior so we can center it */
  margin: 0 auto;
}

img:hover {
  cursor: pointer;
}

html {
  background-color: #000000;
}

body {
  width: 650px;
  margin: 0 auto;
  background-color: #000000;
  padding: 0 20px 20px 20px;
  text-align: center;
  /*border: 5px solid black;*/
}

button {
  width: 15%;
  background-color: white;
  border-radius: 4px;
  display: inline-block; /* this gives the image block-like behavior so we can center it */
  text-align: center;
}

button:hover {
  cursor: pointer;
  font-size: 12px;
}
